include README.rst
include LICENSE.txt
include snppipeline/data/configuration/snppipeline.conf
include snppipeline/data/lambdaVirusInputs/reference/*
include snppipeline/data/lambdaVirusInputs/samples/*/*
include snppipeline/data/lambdaVirusExpectedResults/samples/*/*
include snppipeline/data/lambdaVirusExpectedResults/*.*
include snppipeline/data/agonaInputs/reference/*
include snppipeline/data/agonaInputs/sha256sumCheck
include snppipeline/data/agonaExpectedResults/*.*
include snppipeline/data/agonaExpectedResults/samples/*/*
include snppipeline/data/listeriaInputs/reference/*
include snppipeline/data/listeriaInputs/sampleList
include snppipeline/data/listeriaInputs/sha256sumCheck
include snppipeline/data/listeriaExpectedResults/*.*
include snppipeline/data/listeriaExpectedResults/samples/*/*
