include README.rst
include LICENSE.txt
include snppipeline/data/lambdaVirusInputs/reference/*.fasta
include snppipeline/data/lambdaVirusInputs/samples/sample*/*.fastq
include snppipeline/data/lambdaVirusExpectedResults/*.fasta
include snppipeline/data/lambdaVirusExpectedResults/*.txt
include snppipeline/data/lambdaVirusExpectedResults/samples/sample*/*.pileup
